In [1]:
import pandas as pd
import numpy as np
from parameters import *

In [2]:
df=pd.read_csv('../shenzhen_data/morning_longtime_100000.csv')
df.rename(columns={'in_station':'start', 'out_station':'end',  'time_minute': 'time'},inplace=True)
df.drop(columns=['time_hour_minute'], inplace=True)
df.head()

   start  end  time
0     19   24   485
1     17    3   589
2     19    8   560
3      6    4   569
4      7   12   466

In [3]:
df['id']=df.index
df['forward'] = df.apply(lambda row: 1 if row['start'] < row['end'] else 0, axis=1)
df['start_']=df.apply(lambda row: row['start'] if row['forward']==1 else stations_N*2-1-row['start'], axis=1)
df['end_']=df.apply(lambda row: row['end'] if row['forward']==1 else stations_N*2-1-row['end'], axis=1)
df['time']=df['time']-df['time'].min()
sampled_df = df.sample(n=10000, random_state=42, replace=False)
df.head(2)

   start  end  time  id  forward  start_  end_
0     19   24   125   0        1      19    24
1     17    3   229   1        0      32    46

In [10]:
sampled_df.to_csv('../shenzhen_data/morning_longtime_100000(processed).csv', index=False)

27.0

In [28]:
df['time'].max()

330

In [7]:
sampled_df['start_'].value_counts()

36    713
25    549
32    539
37    489
3     477
2     458
31    439
13    431
7     403
12    387
4     371
30    350
35    342
34    300
26    290
29    277
28    261
27    252
11    250
5     209
38    195
33    187
17    178
8     178
14    171
6     148
42    141
18    133
15    133
9     111
19    106
41     80
16     60
20     60
40     52
45     39
44     34
43     32
46     29
22     26
10     25
21     24
39     19
1      18
47     12
23     12
0      10
Name: start_, dtype: int64

In [8]:
df['start_'].value_counts()

36    7017
25    5519
32    5261
3     4929
37    4768
2     4412
31    4412
13    4280
7     3961
12    3922
4     3737
35    3636
30    3624
34    3144
26    2787
29    2666
27    2518
11    2486
28    2329
5     2212
38    2039
14    1869
33    1826
17    1810
8     1665
42    1360
15    1326
6     1318
18    1296
9     1185
19     916
41     775
40     664
16     648
20     571
45     401
21     384
43     375
44     348
10     277
22     260
46     259
1      239
39     176
23     170
47     130
0       93
Name: start_, dtype: int64