In [1]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style

from datetime import datetime, timedelta
%matplotlib inline

In [2]:
# 数据读取
import json

path = r"D:\\学习\\大三下\\数据科学实践\\project\\2018record3.jsons"
data = []
with open(path, 'r', encoding='utf-8') as f:
    for line in f.readlines():
        data += json.loads(line)['data']
data = pd.DataFrame(data)
columns = ['card_no', 'deal_date', 'deal_type', 'deal_money', 'deal_value', 'equ_no', 'company_name', 'station', 'car_no', 'conn_mark', 'close_date']
data = data[columns]  # 调整字段顺序

In [3]:
data["deal_date"] = pd.to_datetime(data["deal_date"], format='%Y-%m-%d %H:%M:%S')
data["deal_date_month"] = data.deal_date.apply(lambda x: x.month)
data['deal_dayofweek'] = data.deal_date.apply(lambda x: x.dayofweek)
data['deal_date_day'] = data.deal_date.apply(lambda x: x.day)
data["hour_minute"] = data["deal_date"].dt.strftime('%H:%M')

In [4]:
data[(data["deal_date_month"] == 9) & (data["company_name"] == "地铁五号线")]["hour_minute"].unique()

array(['05:28', '06:05', '04:31', '04:53', '05:09', '05:17', '05:27',
       '05:49', '04:35', '04:44', '05:48', '04:33', '05:29', '05:35',
       '05:43', '05:45', '05:54', '05:30', '05:42', '04:51', '04:34',
       '05:33', '05:41', '05:59', '06:00', '06:03', '05:11', '05:47',
       '04:42', '05:32', '05:52', '06:01', '06:02', '04:32', '04:47',
       '04:56', '01:43', '04:45', '04:28', '05:31', '06:06', '06:08',
       '06:13', '06:11', '06:14', '06:09', '06:15', '06:16', '06:17',
       '06:18', '06:19', '05:56', '06:12', '06:10', '06:21', '06:20',
       '06:22', '06:23', '06:24', '06:27', '06:28', '06:29', '06:30',
       '06:32', '06:26', '06:25', '06:31', '06:33', '06:34', '06:35',
       '06:36', '06:38', '06:39', '06:37', '06:40', '06:41', '06:42',
       '06:43', '06:44', '06:45', '06:46', '06:47', '06:48', '06:50',
       '06:49', '06:51', '06:52', '06:53', '06:54', '06:55', '06:57',
       '06:58', '06:59', '06:56', '07:00', '07:01', '07:02', '07:03',
       '07:04', '07:05', '07:08', '07:07', '07:06', '07:09', '07:10',
       '07:11', '07:12', '07:13', '07:14', '07:15', '07:16', '07:17',
       '07:18', '07:19', '07:20', '07:21', '07:22', '07:23', '07:24',
       '07:25', '07:26', '07:27', '07:28', '07:29', '07:30', '07:31',
       '07:32', '07:33', '07:34', '07:35', '07:36', '07:37', '07:38',
       '07:39', '07:40', '07:41', '07:42', '07:43', '07:44', '07:45',
       '07:46', '07:47', '07:48', '07:49', '07:50', '07:51', '07:53',
       '07:52', '07:54', '07:55', '07:56', '07:57', '07:59', '08:00',
       '08:01', '08:02', '08:03', '08:04', '08:05', '07:58', '08:06',
       '08:07', '08:08', '08:10', '08:09', '08:23', '08:21', '08:19',
       '08:22', '08:27', '08:30', '08:31', '08:24', '08:25', '08:17',
       '08:20', '08:28', '08:29', '08:12', '08:26', '08:16', '08:11',
       '08:32', '08:15', '08:14', '08:18', '08:13', '08:33', '08:34',
       '08:35', '08:37', '08:36', '08:38', '08:39', '08:40', '08:41',
       '08:42', '08:43', '08:44', '08:45', '08:46', '08:55', '08:54',
       '08:56', '08:53', '08:47', '08:49', '08:48', '08:50', '08:51',
       '08:52', '08:58', '08:59', '09:00', '08:57', '09:01', '09:05',
       '09:03', '09:02', '09:04', '09:06', '09:07', '09:08', '09:10',
       '09:09', '09:11', '09:17', '09:19', '09:21', '09:20', '09:16',
       '09:18', '09:22', '09:15', '09:12', '09:13', '09:14', '09:23',
       '09:24', '09:26', '09:25', '09:27', '09:28', '09:29', '09:30',
       '09:31', '09:32', '09:33', '09:34', '09:38', '09:39', '09:35',
       '09:36', '09:40', '09:37', '09:41', '09:42', '09:48', '09:47',
       '09:49', '09:50', '09:58', '10:00', '10:01', '10:02', '09:59',
       '10:05', '10:04', '10:07', '10:06', '10:08', '10:03', '09:43',
       '09:44', '09:45', '09:46', '10:11', '09:57', '09:54', '09:56',
       '09:52', '09:53', '09:55', '09:51', '10:10', '10:09', '10:14',
       '10:12', '10:13', '10:15', '10:16', '10:19', '10:20', '10:17',
       '10:18', '10:21', '10:24', '10:25', '10:22', '10:23', '10:26',
       '10:27', '10:28', '10:30', '10:31', '10:29', '10:32', '10:33',
       '10:34', '10:35', '10:37', '10:36', '10:40', '10:41', '10:39',
       '10:38', '10:42', '10:43', '10:44', '10:45', '10:46', '10:55',
       '10:53', '10:54', '10:51', '10:56', '10:57', '10:47', '10:48',
       '10:49', '10:50', '10:52', '10:58', '10:59', '11:00', '11:01',
       '11:02', '11:04', '11:03', '11:06', '11:05', '11:07', '11:10',
       '11:08', '11:09', '11:11', '11:12', '11:14', '11:15', '11:16',
       '11:13', '11:17', '11:22', '11:20', '11:19', '11:21', '11:18',
       '11:23', '11:24', '11:25', '11:26', '11:27', '11:28'], dtype=object)

## 8.31下午客流量

In [4]:
# 提取下午的数据（8.31的数据）
afternoon_data = data[data["deal_date_month"] == 8]

In [5]:
# 数据提取（5号线相关数据）
line5 = afternoon_data[afternoon_data["company_name"]==("地铁五号线")]
line5['cnt'] = 1
line5_out = line5[line5["deal_type"]==("地铁出站")]
line5_in = line5[line5["deal_type"]==("地铁入站")]

C:\Users\30138\AppData\Local\Temp\ipykernel_21836\687654742.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  line5['cnt'] = 1

In [6]:
# 统计人次
station_cnt = line5.groupby("station")['cnt'].sum().reset_index()
station_cnt["porpotion"] = station_cnt["cnt"]/station_cnt["cnt"].sum()

# 统计进站、出站人次
station_cnt_in = line5_in.groupby("station")['cnt'].sum().reset_index()
station_cnt_in["porpotion"] = station_cnt_in["cnt"]/station_cnt_in["cnt"].sum()
station_cnt_in.sort_values(by="porpotion", ascending=False, inplace=True)

station_cnt_out = line5_out.groupby("station")['cnt'].sum().reset_index()
station_cnt_out["porpotion"] = station_cnt_out["cnt"]/station_cnt_out["cnt"].sum()
station_cnt_out.sort_values(by="porpotion", ascending=False, inplace=True)

station_cnt.sort_values(by="porpotion", ascending=False, inplace=True)

In [7]:
station_cnt_in

  station    cnt  porpotion
1     深圳北  13744   0.970621
0      布吉    416   0.029379

In [8]:
station_cnt_out

  station    cnt  porpotion
0     深圳北  13683   0.998322
1      长龙     23   0.001678

## 9.1上午客流量

In [9]:
# 提取上午的数据（9.1的数据）
morning_data = data[data["deal_date_month"] == 9]

In [10]:
# 数据提取（5号线相关数据）
line5 = morning_data[morning_data["company_name"]==("地铁五号线")]
line5['cnt'] = 1
line5_out = line5[line5["deal_type"]==("地铁出站")]
line5_in = line5[line5["deal_type"]==("地铁入站")]

C:\Users\30138\AppData\Local\Temp\ipykernel_21836\1078080897.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  line5['cnt'] = 1

In [11]:
# 统计总人次
station_cnt = line5.groupby("station")['cnt'].sum().reset_index()
station_cnt["porpotion"] = station_cnt["cnt"]/station_cnt["cnt"].sum()
station_cnt.sort_values(by="porpotion", ascending=False, inplace=True)

In [12]:
station_cnt.to_csv("station_cnt.csv")

In [13]:
# 统计进站、出站人次
station_cnt_in = line5_in.groupby("station")['cnt'].sum().reset_index()
station_cnt_in["porpotion"] = station_cnt_in["cnt"]/station_cnt_in["cnt"].sum()
station_cnt_in.sort_values(by="porpotion", ascending=False, inplace=True)

station_cnt_out = line5_out.groupby("station")['cnt'].sum().reset_index()
station_cnt_out["porpotion"] = station_cnt_out["cnt"]/station_cnt_out["cnt"].sum()
station_cnt_out.sort_values(by="porpotion", ascending=False, inplace=True)

In [14]:
station_cnt_in

   station    cnt  porpotion
3       五和  11366   0.115305
14      民治   8739   0.088655
1      下水径   6699   0.067960
24     黄贝岭   5529   0.056090
23      长龙   5519   0.055989
5       坂田   5399   0.054772
21      西丽   5274   0.053503
17      灵芝   5186   0.052611
16     深圳北   4755   0.048238
20      翻身   4463   0.045276
13      杨美   4352   0.044150
10      布吉   4288   0.043501
15     洪浪北   4094   0.041533
19     百鸽笼   3061   0.031053
12      怡景   2930   0.029724
8       太安   2683   0.027218
11      布心   2658   0.026965
4       兴东   2623   0.026610
7      大学城   2489   0.025250
0      上水径   2305   0.023384
6       塘朗   1759   0.017845
18     留仙洞   1616   0.016394
22     长岭陂    440   0.004464
9       宝华    262   0.002658
2       临海     84   0.000852

In [15]:
station_cnt_out

   station   cnt  porpotion
16     深圳北  8963   0.121340
4       兴东  5334   0.072211
3       五和  5058   0.068474
24     黄贝岭  4184   0.056642
21      西丽  3798   0.051417
14      民治  3745   0.050699
7      大学城  3576   0.048411
6       塘朗  3546   0.048005
17      灵芝  3140   0.042509
5       坂田  2978   0.040316
13      杨美  2971   0.040221
11      布心  2772   0.037527
15     洪浪北  2739   0.037080
12      怡景  2609   0.035320
18     留仙洞  2451   0.033181
19     百鸽笼  2433   0.032938
10      布吉  2376   0.032166
8       太安  2324   0.031462
9       宝华  2012   0.027238
20      翻身  1934   0.026182
23      长龙  1906   0.025803
1      下水径  1271   0.017207
0      上水径   854   0.011561
22     长岭陂   832   0.011263
2       临海    61   0.000826

## 数据模拟

### 1. 暂不考虑换乘 + 目前为双向运行 + 上午

In [17]:
# # 将站点依据顺序进行字典映射：赤湾——>黄贝岭
# stations = {0:'赤湾',1:'荔湾',2:'铁路公园',3:'妈湾',4:'前湾公园',5:'前湾', 6:'桂湾', 7:'前海湾',8:'临海',9:'宝华',10:'宝安中心',11:'翻身',
#             12:'灵芝',13:'洪浪北',14:'兴东',15:'留仙洞',16:'西丽',17:'大学城',18:'塘朗',19:'长岭陂',20:'深圳北站',21:'民治',22:'五和',23:'坂田',
#             24:'杨美',25:'上水径',26:'下水径',27:'长龙',28:'布吉',29:'百鸽笼',30:'布心',31:'太安',32:'怡景',33:'黄贝岭'}

In [16]:
# 将站点依据顺序进行字典映射：赤湾——>黄贝岭
stations = {0:'临海',1:'宝华',2:'翻身',3:'灵芝',4:'洪浪北',5:'兴东',6:'留仙洞',7:'西丽',8:'大学城',9:'塘朗',10:'长岭陂',11:'深圳北',12:'民治',13:'五和',14:'坂田',
            15:'杨美',16:'上水径',17:'下水径',18:'长龙',19:'布吉',20:'百鸽笼',21:'布心',22:'太安',23:'怡景',24:'黄贝岭'}

In [17]:
station_to_order= {v:k for k,v in stations.items()}
station_to_order

{'临海': 0,
 '宝华': 1,
 '翻身': 2,
 '灵芝': 3,
 '洪浪北': 4,
 '兴东': 5,
 '留仙洞': 6,
 '西丽': 7,
 '大学城': 8,
 '塘朗': 9,
 '长岭陂': 10,
 '深圳北': 11,
 '民治': 12,
 '五和': 13,
 '坂田': 14,
 '杨美': 15,
 '上水径': 16,
 '下水径': 17,
 '长龙': 18,
 '布吉': 19,
 '百鸽笼': 20,
 '布心': 21,
 '太安': 22,
 '怡景': 23,
 '黄贝岭': 24}

#### 每个站点进站人数权重=上述计算所得各站占比，将该占比当作各站点抽样概率进行抽样。

In [18]:
station_cnt_in['station_order'] = station_cnt_in['station'].apply(lambda x: station_to_order[x])
station_cnt_out['station_order'] = station_cnt_out['station'].apply(lambda x: station_to_order[x])

## 早上

In [19]:

np.random.seed(123)

n_sample = 100000
morning_in_station = []
morning_out_station = []

while (len(morning_in_station) < n_sample):
    sample_in = np.random.choice(list(station_cnt_in['station_order']), p = list(station_cnt_in['porpotion']), size=1, replace=True)
    sample_out = np.random.choice(list(station_cnt_out['station_order']), p = list(station_cnt_out['porpotion']), size=1, replace=True)
    if sample_in[0] != sample_out[0]:
        morning_in_station.append(sample_in[0])
        morning_out_station.append(sample_out[0])

data = {'in_station': morning_in_station, 'out_station': morning_out_station}

In [20]:
station_in_out = pd.DataFrame(data)

In [21]:
station_in_out

       in_station  out_station
0              19           24
1              17            3
2              19            8
3               6            4
4               7           12
...           ...          ...
99995          11           13
99996           1            7
99997          22            5
99998          21            7
99999          13            1

[100000 rows x 2 columns]

### 和长的时间合并

In [22]:
morning_longtime = pd.read_csv("morning_in_longtime.csv")

def minutes_to_time(minutes):
    hours, minutes = divmod(minutes, 60)
    return f"{int(hours):02d}:{int(minutes):02d}"
morning_longtime['hour_minute'] = morning_longtime['morning_in_time'].apply(minutes_to_time)

station_in_out['time_minute'] = morning_longtime['morning_in_time']
station_in_out["time_hour_minute"] = morning_longtime['hour_minute']

station_in_out.to_csv("morning_longtime_100000.csv",index=False)

### 和短时间合并

In [ ]:
station_in_out = pd.DataFrame(data)

In [74]:
morning_shorttime = pd.read_csv("morning_in_shorttime.csv")

def minutes_to_time(minutes):
    hours, minutes = divmod(minutes, 60)
    return f"{int(hours):02d}:{int(minutes):02d}"
morning_shorttime['hour_minute'] = morning_shorttime['morning_in_time'].apply(minutes_to_time)

station_in_out['time_minute'] = morning_shorttime['morning_in_time']
station_in_out["time_hour_minute"] = morning_shorttime['hour_minute']

station_in_out.to_csv("morning_shorttime_100000.csv",index=False)

## 晚上
简单假设：其实就是早上的流动方向反过来

In [75]:
evening_long_time = pd.read_csv("eve_in_longtime.csv")

In [76]:
evening_in_out = pd.DataFrame(columns=['in_station','out_station','time_minute','time_hour_minute'])
evening_in_out['in_station'] = station_in_out['out_station']
evening_in_out['out_station'] = station_in_out['in_station']
evening_in_out['time_minute'] = evening_long_time['eve_in_time']
evening_in_out['time_hour_minute']=evening_long_time['eve_in_time'].apply(minutes_to_time)

In [77]:
evening_in_out.to_csv("evening_longtime_100000.csv",index=False)

In [70]:
evening_long_time = pd.read_csv("eve_in_shorttime.csv")  
evening_in_out = pd.DataFrame(columns=['in_station','out_station','time_minute','time_hour_minute'])
evening_in_out['in_station'] = station_in_out['out_station']
evening_in_out['out_station'] = station_in_out['in_station']
evening_in_out['time_minute'] = evening_long_time['eve_in_time']
evening_in_out['time_hour_minute']=evening_long_time['eve_in_time'].apply(minutes_to_time)

evening_in_out.to_csv("evening_shorttime_100000.csv",index=False)